{{#> master }}
    <div class="inner-banner" style="background-image: url(image/about-bg.png);">
        <div class="inner-banner-content">
            <div class="banner-play-btn">
                <a href="#"><i class="bx bx-play"></i></a>
            </div>
            <div class="inner-header">
                <h2>About Us</h2>
            </div>
        </div>
    </div>
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="about-page-content">
                        <div class="row no-gutters">
                            <div class="col-lg-5">
                                <div class="section-header mb-0">
                                    <h3><span>We are GRAND</span> VIVANTA</h3>
                                    <p>Plan With Grand Vivanta Vacations is a luxury resort and hotel management company. Our team looks far & wide to identify the hotels, resorts & villas and then evaluates them under our defined standards before we start welcoming our members. An extra unique feature at Club Resorto is the variations and customization that we offer year after year keeping in mind the preferences of every member. Our CEO- Chief Experience Officer plans the holidays as per the preferences of our members to personalize the complete experience each time.</p>
                                    <div class="text-center">
                                        <a href="#" class="book-btn">Book Your Destnation</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="about-page-image" style="background-image: url(image/about-img.png);">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-pad why-choose" style="background-image: url(image/about-img/why-us-bg.png);">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="why-choose-img">
                        <img src="image/about-img/why-us-img.png" alt="">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="why-choose-content">
                        <div class="section-header">
                            <h3><span>Why choose </span>US</h3>
                            <p>World's leading tour and travels Booking ,Over 30,000 packages worldwide. Book travel packages and enjoy your holidays with distinctive experience.</p>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="why-us-box">
                                    <img src="image/benefit/4.png" alt="">
                                    <h4>Easy Booking Process</h4>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="why-us-box">
                                    <img src="image/benefit/2.png" alt="">
                                    <h4>Travel Arrangements</h4>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="why-us-box mb-sm-0">
                                    <img src="image/benefit/1.png" alt="">
                                    <h4>Affordable Price</h4>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="why-us-box mb-0">
                                    <img src="image/benefit/3.png" alt="">
                                    <h4>Private Guide</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="our-services">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="service-content">
                        <div class="section-header">
                            <h3><span>Our </span><br> Services</h3>
                        </div>
                        <ul>
                            <li class="yellow-bg"><span>96</span> Packages</li>
                            <li class="red-bg"><span>32</span> Places</li>
                            <li class="grey-bg"><span>06</span> Events</li>
                            <li class="green-bg"><span>294</span> Hotels</li>
                        </ul>
                        <div class="text-center">
                            <a href="tel:1800-833-3738" class="book-btn">Call to us : 1800-833-3738</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="gallery-img padd-top">
                                <img src="image/gallery-img/1.png" alt="">
                            </div>
                            <div class="gallery-img">
                                <img src="image/gallery-img/3.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="gallery-img">
                                <img src="image/gallery-img/2.png" alt="">
                            </div>
                            <div class="gallery-img">
                                <img src="image/gallery-img/4.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-pad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="swiper-container  travel-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="travel-content bg-deep-blue">
                                    <div class="icon-img">
                                        <img src="image/travel-icon/1.png" alt="">
                                    </div>
                                    <h4>TRAVEL BOOKING</h4>
                                    <p> Apart from having access to a large number of Resorts, Hotels, and Villas at Grand Vivanta Vacations Pvt Ltd, we organize events where we share knowledge about the membership plans that we provide.</p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="travel-content bg-icecream">
                                    <div class="icon-img">
                                        <img src="image/travel-icon/2.png" alt="">
                                    </div>
                                    <h4>EVENT BOOKING</h4>
                                    <p> Our CEO- Chief Experience Officer plans the holidays as per the preferences of our members to personalize the complete experience each time. Apart from having access to a multitude of resorts, we organize experiential events for you in your city. </p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="travel-content bg-orange">
                                    <div class="icon-img">
                                        <img src="image/travel-icon/3.png" alt="">
                                    </div>
                                    <h4>CLUB MEMBERSHIP</h4>
                                    <p>Our Club membership recognizes vacationing admirably. As a member of our club, you will enjoy the level of service and customer attention available in the industry. With the travel industry rising so swiftly, we are creating a movement in this domain.</p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="travel-content bg-deep-blue">
                                    <div class="icon-img">
                                        <img src="image/travel-icon/1.png" alt="">
                                    </div>
                                    <h4>TRAVEL BOOKING</h4>
                                    <p> Apart from having access to a large number of Resorts, Hotels, and Villas at Grand Vivanta Vacations Pvt Ltd, we organize events where we share knowledge about the membership plans that we provide.</p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="partner-section section-pad" style="background-image: url(image/partner-bg.png);">
        <div class="section-header">
            <h3><span>Corporate</span>  Partners !</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="swiper-container partner-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="partner-box">
                                    <img src="image/partner-logo/1.png" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="partner-box">
                                    <img src="image/partner-logo/2.png" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="partner-box">
                                    <img src="image/partner-logo/3.png" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="partner-box">
                                    <img src="image/partner-logo/4.png" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="partner-box">
                                    <img src="image/partner-logo/5.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{/master}}