{{#>master }}
    <div class="inner-banner" style="background-image: url(image/travel-desk-banner.png);">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-1"></div>
                <div class="col-lg-6 col-xl-5">
                    <div class="travel-desk-banner">
                        <h2><span>Welcome to Grand Vivanta</span><br> Travel Partners</h2>
                        <ul>
                            <li><span></span>World Class <br> Service</li>
                            <li><span></span>Travelling <br> Insurances</li>
                            <li><span></span>Reliable Booking <br> System</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-5">
                    <div class="banner-image">
                        <img src="image/travel-banner-img.png" alt="">
                    </div>
                </div>
                <div class="col-xl-1"></div>
            </div>
        </div>
    </div>
    <section class="travel-desk-content section-pad">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="travel-desk-box">
                        <div class="travel-box-inner">
                            <div class="travel-box">
                                <div class="row align-items-center">
                                    <div class="col-md-4">
                                        <div class="travel-box-img">
                                            <img src="image/travel-desk-img/makemytrip.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="travel-box-content">
                                            <h4>MakeMyTrip</h4>
                                            <p>MakeMyTrip is primarily an online Tours & Travel portal and ranks among pioneers of India’s Internet-based travel agencies. In fact, MakeMyTrip is the most used travel website in India by Frequent travellers. The company’s website claims it held a 47 percent share of the online travel market</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="travel-desk-box right-align-box">
                        <div class="travel-box-inner">
                            <div class="travel-box">
                                <div class="row align-items-center">
                                    <div class="col-md-4 order-md-2">
                                        <div class="travel-box-img">
                                            <img src="image/travel-desk-img/yatra.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-8 order-md-1">
                                        <div class="travel-box-content">
                                            <h4>Yatra</h4>
                                            <p>Yatra is another top travel company that has a major presence online. The company claims that over four million foreign and domestic travellers have availed its services since foundation on 2006. Yatra also has a mobile app that makes it possible for people to book any travel related service .</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="travel-desk-box">
                        <div class="travel-box-inner">
                            <div class="travel-box">
                                <div class="row align-items-center">
                                    <div class="col-md-4">
                                        <div class="travel-box-img">
                                            <img src="image/travel-desk-img/irctc.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="travel-box-content">
                                            <h4>Indian Railways Catering and Tourism Corporation</h4>
                                            <p>Indian Railway Catering and Tourism Corporation is an Indian public sector undertaking that provides ticketing, catering, and tourism services to the Indian Railways</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="travel-desk-box right-align-box">
                        <div class="travel-box-inner">
                            <div class="travel-box">
                                <div class="row align-items-center">
                                    <div class="col-md-4 order-md-2">
                                        <div class="travel-box-img">
                                            <img src="image/travel-desk-img/cox.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-8 order-md-1">
                                        <div class="travel-box-content">
                                            <h4>Cox & Kings</h4>
                                            <p>Cox & Kings is the longest established travel company in the world that began in 1758. It began primarily as a travel arranger for British troops arriving in the Indian subcontinent. The company played a major role during World War-I and World War-II by transporting Indian soldiers to various bat...</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="travel-desk-box">
                        <div class="travel-box-inner">
                            <div class="travel-box">
                                <div class="row align-items-center">
                                    <div class="col-md-4">
                                        <div class="travel-box-img">
                                            <img src="image/travel-desk-img/thomas.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="travel-box-content">
                                            <h4>Thomas Cook (India) Ltd</h4>
                                            <p>Thomas Cook (India) Ltd was established in India in 1881. Thomas Cook has an extremely interesting history. It began as a social reform venture that was aimed at helping people to overcome alcoholism problem by educating people through travel.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{/master }}