<footer class="footer">
        <div class="footer-top section-pad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer-box">
                            <h4>About Grand Vivanta</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictum aliquam id condimentum.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="footer-box">
                            <h4>Support & Help</h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <ul>
                                        <li><a href="#">Travel Partners</a></li>
                                        <li><a href="#">Corporate Partners</a></li>
                                        <li><a href="#">Wedding Planner Partners</a></li>
                                        <li><a href="#">Partners</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul>
                                        <li><a href="#">Location Manager</a></li>
                                        <li><a href="#">Airline Partners</a></li>
                                        <li><a href="#">Casino Partners</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul>
                                        <li><a href="#">Contact Us</a></li>
                                        <li><a href="#">Private Guide</a></li>
                                        <li><a href="#">Feedback</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="footer-box">
                            <h4>Instafeed</h4>
                            <div class="row no-gutters">
                                <div class="col-3">
                                    <div class="thumb-img">
                                        <img src="image/footer-img/1.png" alt="">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="thumb-img">
                                        <img src="image/footer-img/2.png" alt="">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="thumb-img">
                                        <img src="image/footer-img/3.png" alt="">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="thumb-img">
                                        <img src="image/footer-img/4.png" alt="">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="thumb-img">
                                        <img src="image/footer-img/5.png" alt="">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="thumb-img">
                                        <img src="image/footer-img/6.png" alt="">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="thumb-img">
                                        <img src="image/footer-img/7.png" alt="">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="thumb-img">
                                        <img src="image/footer-img/8.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="footer-bottom-content">
                            <p>copyright@2021Grand Vivanta Pvt Ltd.All rights reserved.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="footer-right-content">
                            <ul>
                                <li><a href="#"><i class="bx bxl-facebook "></i></a></li>
                                <li><a href="#"><i class="bx bxl-twitter "></i></a></li>
                                <li><a href="#"><i class="bx bxs-medal"></i></a></li>
                                <li><a href="#"><i class="bx bxl-behance "></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>